<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <style type="text/css">
        .back{
            background-color:honeydew;
        }
        div{
            padding-right: 50px;
            display: inline-block;
        }
    </style>
</head>
<body class="back">
    <h1>Spotify statistics</h1>
    <hr/>
    <h2>Singer information</h2>
    <h2><a href="/album/{{ artist.name }}" target="_blank">Into disc list</a>
    </h2>
    <div>
        <div>
            <ul>
                <li>Name：{{ artist.name }}</li>
                <li>Popularity：{{ artist.popularity }}</li>
                <li>Followers：{{ artist.followers }}</li>
                <li>Genres：{{ artist.genres }}</li>
                <li>Total singles:{{ artist.total_singles}}</li>
                <li>Total albums:{{ artist.total_albums}}</li>
                <li>Spotify_url:{{ artist.artist_ID_url}}</li>
            </ul>
        </div>
        <div>
            <img src = {{ img }} height = "400" width = "400" />
        </div>
    </div>
</body>
</html>