<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Stats for you</title>
  <script src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>
  <style>
    .flex {
      display: flex;
      align-items: center;
      height: 900px;
    }
  </style>
</head>

<body>
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" class="flex" data-title="{{ value1 }}" data-src="{{ value2 }}" data-genre="{{ value3 }}"></div>
  <script type="text/javascript">

    // 變數直接傳進來，參數名稱給flask中打的參數
    // var test = "{{ value1|safe }}";
    // console.log("output: ",test)

    // var echarts = require('echarts');
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // get data form flask
    var pyTitle = document.getElementById('main').getAttribute('data-title');
    console.log(pyTitle) // typeof: string
    console.log(typeof pyTitle)
    
    // 方法1: 將全部的 '替換成空，將所有的 [或]替換成空，/\[|]/g中的\是轉義符
    // var titleList = pyTitle.replace(/'/g, '').replace(/\[|]/g, '').replace(/ /g, '').split(',');
    
    // 方法2
    pyTitle = pyTitle.replace(/'/g, '"')
    var titleList = JSON.parse(pyTitle)
    console.log('titleList:',titleList) // typeof: object
    //console.log(typeof titleList)

    // x 軸預設全長
    if (titleList[0] == 'popularity') {
      var xaxis1 = 100;
    } else {
      var xaxis1 = 100000000;
    }
    //console.log(typeof xaxis1) //number

    var srcData = document.getElementById('main').getAttribute('data-src');
    console.log(srcData) //string
    console.log(typeof srcData)

    // 方法1
    // var srcList = srcData.replace(/\{|}/g, '').split(",")
    
    // 方法2
    srcData = srcData.replace(/'/g, '"')
    var srcList = JSON.parse(srcData)
    console.log('srcList: ',srcList)
    console.log(typeof srcList)

    // var obj1 = {};
    // for (var x = srcList.length; x--;) {
    //   // " 'Eminem'" to "'Eminem'"
    //   var tmpName = srcList[x].split(':')[0].replace(" '", "'");
    //   //console.log('tmpName:',tmpName);
    //   var followerNum = srcList[x].split(':')[1].replace(" ", ''); // " 3564" to "3564"
    //   //console.log('followerNum:', followerNum)
    //   obj1[tmpName] = followerNum;
    // }
    // console.log('obj1:',obj1)
    // console.log(typeof obj1)

    // // var n1 = Object.keys(obj1); // 獲取dict的 key
    // var n1 = Object.keys(srcList); // 獲取dict的 key
    // console.log('n1: ',n1)
    // // var n2 = Object.values(obj1); // 獲取dict的value
    // var n2 = Object.values(srcList); // 獲取dict的value
    // console.log('n2: ',n2)
    // // alert(n2);

    var genreData = document.getElementById('main').getAttribute('data-genre');
    // 方法2
    genreData = genreData.replace(/'/g,'"')
    var genreList = JSON.parse(genreData)
    console.log('genreList:',genreList)
    // 方法1
    // console.log(genreData)
    // var genreList = genreData.replace(/\{|}/g, '').split(',');
    // console.log(genreList)

    // var obj3 = {};
    // for (var x = genreList.length; x--;) {
    //   var tmpName = genreList[x].split(':')[0].replace(" '", "'");
    //   //console.log('tmpName:', tmpName)
    //   var followerNum = genreList[x].split(':')[1].replace(" ", '');
    //   // console.log('followerNum:', followerNum)
    //   obj3[tmpName] = followerNum;
    // }
    // console.log('obj3:',obj3)
    
    // 指定图表的配置项和数据
    var option;
    const builderJson = {
      // x 軸預設全長
      all: xaxis1,
      // 圖表數據
      charts: srcList
    };
    console.log('builderJson:',builderJson)
    console.log('builderJson.charts :',builderJson.charts)
    console.log('object keys map func:',Object.keys(builderJson.charts).map(function (key) {
            return builderJson.charts[key];
          }))
    const downloadJson = genreList;
    console.log('downloadJson(object) :',downloadJson)


    const waterMarkText = 'ECHARTS';
    const canvas = document.createElement('canvas'); //畫布
    const ctx = canvas.getContext('2d'); //获取 canvas 元素的二维绘图上下文 (context) 并将其赋值给 ctx 变量。该上下文对象提供了用于在 canvas 上绘制图形的方法
    canvas.width = canvas.height = 100;
    ctx.textAlign = 'center';
    ctx.textBaseline = 'middle';
    ctx.globalAlpha = 0.08;
    ctx.font = '20px Microsoft Yahei';
    ctx.translate(50, 50); //将绘图上下文向右移动 50 个像素，向下移动 50 个像素
    ctx.rotate(-Math.PI / 4);
    ctx.fillText(waterMarkText, 0, 0);
    console.log('yaxis data:',Object.keys(builderJson.charts))
    console.log('reverse_yaxis data:',Object.keys(builderJson.charts).reverse())
    option = {
      backgroundColor: '#EBDEF0',
      tooltip: {},
      title: [ //follower -> list: ['followers', 'popularity', 'genres']
        {
          text: titleList[0],
          subtext: 'Total ' + builderJson.all,
          left: '25%', // 從左到右25%
          textAlign: 'center'
        },
        {
          text: titleList[2],
          left: '75%',
          textAlign: 'center'
        }
      ],
      grid: [
        { // 水平柱狀圖
          top: 60,
          width: '55%',
          bottom: '10%',
          left: 12,
          containLabel: true
        },
        // { //非圖上兩張圖的區塊-> gridIndex:1
        //   top: '55%',
        //   width: '50%',
        //   bottom: '20%',
        //   left: 10,
        //   containLabel: true
        // }
      ],
      xAxis: [ //藥用另外一個grid，要加gridIndex:1，就可對其設定
        {
          type: 'value',
          max: builderJson.all,
          splitLine: {
            show: false
          }
        }
      ],
      yAxis: [
        {
          type: 'category',
          // 不知為何，改成小到大，頁面呈現起來才會是，粉絲數大的在上面
          data: Object.keys(builderJson.charts).reverse(),
          axisLabel: {
            interval: 0,
            rotate: 20
          },
          splitLine: {
            show: false
          }
        }
      ],
      series: [
        { //第一個bar 為藍色水平條
          type: 'bar',
          stack: 'chart',
          z: 3,
          label: {
            position: 'right',
            show: true
          },
          data: Object.keys(builderJson.charts)
          // 不知為何，改成小到大，頁面呈現起來才會是，粉絲數大的在上面
          .sort((a, b) => builderJson.charts[a] - builderJson.charts[b])
          .map(function (key) {
            return builderJson.charts[key];
          })
        },
        { // 第二個bar為灰色水平條
          type: 'bar',
          stack: 'chart',
          silent: true,
          itemStyle: {
            color: '#eee'
          },
          data: Object.keys(builderJson.charts)
          .sort((a, b) => builderJson.charts[a] - builderJson.charts[b])
          .map(function (key) {
            return builderJson.charts[key];
          })
        },
        {
          type: 'pie',
          radius: [0, '60%'],
          center: ['75%', '40%'],
          data: Object.keys(downloadJson)
          .sort((a, b) => downloadJson[a] - downloadJson[b])
          .map(function (key) {
            return {
              name: key.replace('.js', ''),
              value: downloadJson[key]
            };
          })
        }
      ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
  </script>
</body>

</html>