<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track List</title>
    <style type="text/css">
        .back{
            background-color:lemonchiffon;
        }
        table {
            width: 100%;
        }

    </style>

</head>
<body class="back">
    <h1>Spotify statistics</h1>
    <hr/>

    <h2><img src={{ imgUrl }} style="width: 300px;" Padding: 8px;></h2>
    <h2>{{ albumName }}</h2>
    <h3><a href="/tracks/detail/{{ albumID }}" target="_blank">See detail information about the album ʕ •ᴥ•ʔ</a></h3>
    <div>
        <table border="5px" padding="10px" style="text-align:center">
            <thead>
                    <tr>
                        {% for row in colname %}
                            <!-- "600px" -->
                            <th width=auto>{{ row }}</th>
                        {% endfor %}
                    </tr>

            </thead>
    
            <tbody id="trackinfo">
                {% for row in table_data %}
                    <tr>
                        <td>
                            <a href="/tracks/lyrics/{{ artName }}/{{ row['track_name'] }}" target="_blank">{{ row['track_name'] }}</a>
                        </td>
                        <td>{{ row['disc_number'] }}</td>
                        <td>{{ row['track_number'] }}</td>
                        <td>{{ row['duration(minutes)'] }}</td>
                        <td>{{ row['popularity'] }}</td>
                        <td>{{ row['artist_number'] }}</td>
                        <td>{{ row['artists'] }}</td>
                        <td>{{ row['external_urls'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>