<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Details</title>
    <style type="text/css">
        .back{
            background-color:lemonchiffon;
        }

    </style>

</head>
<body class="back">
    <h1>Spotify statistics</h1>
    <hr/>
    <h2><img src={{ imgUrl }} style="width: 300px;" Padding: 8px;></h2>
    <h3>{{ albumName }}</h3>
    <div>
        <table border="5px" padding="10px" style="text-align:center">
            <thead>
                    <tr>
                        {% for row in colname %}
                            <th width="600px">{{ row }}</th>
                        {% endfor %}
                    </tr>

            </thead>
    
            <tbody id="trackinfo">
                {% for row in table_data %}
                    <tr>
                        <td>{{ row['Track Name'] }}</td>
                        <td>{{ row['Artists'] }}</td>
                        <td>{{ row['Artist Number'] }}</td>
                        <td>{{ row['Popularity'] }}</td>
                        <td>{{ row['Duration (minutes)'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>